<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <style>
        .b1{background:navy;color:white;}
        .b2{background:yellow;color:red;}
    </style>
</head>
<body>
    <h1 align="left">ИГРЫ</h1>
    <br>
    {% include 'menu.html'%}
    <br>

        <ul >
            {% for t in list %}
            <li > {{t}} <button class="b1" type="submit"> Купить </button></li>
            <br>
            {% endfor %}
        </ul>
    <br>
    <br>


    <form action="/main">
        <button class="b2">Возврат на главную страницу</button>
    </form>

</body>
</html>